.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* custom */
#fabInfo {
  position: fixed;
  margin: 20px;
  left: 0;
  top: 20px;
}

/* grid js css (s) */
td.gridjs-td {
  padding: 3.5px 15px !important;
}
.gridjs-tr th:nth-child(3), .gridjs-td:nth-child(3) {
  text-align: center !important;
}
.btnCopy {
  font-size: .9em;
  text-align: center;
}
/* grid js css (e) */


