/* hide scroll */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(../public/image/courtback.jpg);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* custom */
#courtgridDiv {
  margin: 50px 0px 50px 0px;
  max-width: 800px;
  width: 95%;
}

#fabInfo {
  position: fixed;
  margin: 10px;
  left: 0;
  top: 10px;
}

#fabRefresh {
  position: fixed;
  margin: 10px;
  left: 0;
  top: 60px;
}

/* grid js css (s) */
td.gridjs-td {
  padding: 3.5px 15px !important;
}
.gridjs-tr th:nth-child(3), .gridjs-td:nth-child(3) {
  text-align: center !important;
}
.MuiAccordion-root {
  background-color: rgb(247, 250, 255) !important;
}
/* grid js css (e) */

/* mui (s) */
.MuiAccordionDetails-root {
  padding: 6px !important;
}
/* mui (e) */

